# 문제 1

In [1]:
!ls -alt ../test_data

total 1176
drwxr-xr-x 1 sanghui 197121       0  9�썡 29 14:01 .
drwxr-xr-x 1 sanghui 197121       0  9�썡 29 14:01 ..
-rw-r--r-- 1 sanghui 197121 1197133  9�썡 29 14:00 CARD_SUBWAY_MONTH_202108.csv

## 문제2

In [3]:
import pandas as pd

df = pd.read_csv("../test_data/CARD_SUBWAY_MONTH_202108.csv", index_col=0)
df.head()

         사용일자  노선명     역명  승차총승객수    하차총승객수  등록일자
20210801  중앙선   회기  10269   10305  20210804   NaN
20210801  일산선   마두   2306    2354  20210804   NaN
20210801  일산선  정발산   3334    3307  20210804   NaN
20210801  일산선   주엽   3047    3044  20210804   NaN
20210801  일산선   대화   4520    4151  20210804   NaN

## 문제3